.Footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
   background-color: brown;
}


:root {
   --mouse-x: 0;
   --mouse-y: 0;
}

.container-counter {
   display: flexbox;
   flex-direction: row;
}

.digit-container {
   display: flex;
   flex-direction: row;
   transform: translateZ(20px);
   transform: translateZ(20px) rotateX(calc(var(--mouse-y) * 45deg))
      rotateY(calc(var(--mouse-x) * 45deg));
}

.digit {
   height: 20vmin;
   width: 10vmin;
   transform-style: preserve-3d;
   perspective: 1000px;
   margin: 0 1rem;
}

.digit,
.digit:after,
.digit:before {
   transition: transform 1s cubic-bezier(0.5, 0, 0.5, 1);
}
@keyframes pulse {
   to {
      opacity: 0.5;
   }
}

[data-digit^='0'] .digit:nth-child(1) :nth-child(4):before,
[data-digit^='0'] .digit:nth-child(1) :nth-child(4):after {
   opacity: 0.3;
   transform: translateZ(-2vmax);
}

[data-digit^='1'] .digit:nth-child(1) :nth-child(1):before,
[data-digit^='1'] .digit:nth-child(1) :nth-child(1):after {
   opacity: 0.3;
   transform: translateZ(-2vmax);
}

[data-digit^='1'] .digit:nth-child(1) :nth-child(2):before,
[data-digit^='1'] .digit:nth-child(1) :nth-child(2):after {
   opacity: 0.3;
   transform: translateZ(-2vmax);
}

[data-digit^='1'] .digit:nth-child(1) :nth-child(4):before,
[data-digit^='1'] .digit:nth-child(1) :nth-child(4):after {
   opacity: 0.3;
   transform: translateZ(-2vmax);
}

[data-digit^='1'] .digit:nth-child(1) :nth-child(5):before,
[data-digit^='1'] .digit:nth-child(1) :nth-child(5):after {
   opacity: 0.3;
   transform: translateZ(-2vmax);
}

[data-digit^='1'] .digit:nth-child(1) :nth-child(6):before,
[data-digit^='1'] .digit:nth-child(1) :nth-child(6):after {
   opacity: 0.3;
   transform: translateZ(-2vmax);
}

[data-digit$='1'] .digit:nth-child(2) :nth-child(6):before,
[data-digit$='1'] .digit:nth-child(2) :nth-child(6):after {
   opacity: 0.3;
   transform: translateZ(-2vmax);
}

[data-digit^='2'] .digit:nth-child(1) :nth-child(1):before,
[data-digit^='2'] .digit:nth-child(1) :nth-child(1):after {
   opacity: 0.3;
   transform: translateZ(-2vmax);
}

[data-digit^='2'] .digit:nth-child(1) :nth-child(7):before,
[data-digit^='2'] .digit:nth-child(1) :nth-child(7):after {
   opacity: 0.3;
   transform: translateZ(-2vmax);
}

[data-digit$='2'] .digit:nth-child(2) :nth-child(1):before,
[data-digit$='2'] .digit:nth-child(2) :nth-child(1):after {
   opacity: 0.3;
   transform: translateZ(-2vmax);
}

[data-digit$='2'] .digit:nth-child(2) :nth-child(7):before,
[data-digit$='2'] .digit:nth-child(2) :nth-child(7):after {
   opacity: 0.3;
   transform: translateZ(-2vmax);
}

[data-digit^='3'] .digit:nth-child(1) :nth-child(1):before,
[data-digit^='3'] .digit:nth-child(1) :nth-child(1):after {
   opacity: 0.3;
   transform: translateZ(-2vmax);
}

[data-digit^='3'] .digit:nth-child(1) :nth-child(5):before,
[data-digit^='3'] .digit:nth-child(1) :nth-child(5):after {
   opacity: 0.3;
   transform: translateZ(-2vmax);
}

[data-digit$='3'] .digit:nth-child(2) :nth-child(1):before,
[data-digit$='3'] .digit:nth-child(2) :nth-child(1):after {
   opacity: 0.3;
   transform: translateZ(-2vmax);
}

[data-digit$='3'] .digit:nth-child(2) :nth-child(5):before,
[data-digit$='3'] .digit:nth-child(2) :nth-child(5):after {
   opacity: 0.3;
   transform: translateZ(-2vmax);
}

[data-digit^='4'] .digit:nth-child(1) :nth-child(2):before,
[data-digit^='4'] .digit:nth-child(1) :nth-child(2):after {
   opacity: 0.3;
   transform: translateZ(-2vmax);
}

[data-digit^='4'] .digit:nth-child(1) :nth-child(5):before,
[data-digit^='4'] .digit:nth-child(1) :nth-child(5):after {
   opacity: 0.3;
   transform: translateZ(-2vmax);
}

[data-digit^='4'] .digit:nth-child(1) :nth-child(6):before,
[data-digit^='4'] .digit:nth-child(1) :nth-child(6):after {
   opacity: 0.3;
   transform: translateZ(-2vmax);
}

[data-digit$='4'] .digit:nth-child(2) :nth-child(2):before,
[data-digit$='4'] .digit:nth-child(2) :nth-child(2):after {
   opacity: 0.3;
   transform: translateZ(-2vmax);
}

[data-digit$='4'] .digit:nth-child(2) :nth-child(5):before,
[data-digit$='4'] .digit:nth-child(2) :nth-child(5):after {
   opacity: 0.3;
   transform: translateZ(-2vmax);
}

[data-digit$='4'] .digit:nth-child(2) :nth-child(6):before,
[data-digit$='4'] .digit:nth-child(2) :nth-child(6):after {
   opacity: 0.3;
   transform: translateZ(-2vmax);
}

[data-digit^='5'] .digit:nth-child(1) :nth-child(3):before,
[data-digit^='5'] .digit:nth-child(1) :nth-child(3):after {
   opacity: 0.3;
   transform: translateZ(-2vmax);
}

[data-digit^='5'] .digit:nth-child(1) :nth-child(5):before,
[data-digit^='5'] .digit:nth-child(1) :nth-child(5):after {
   opacity: 0.3;
   transform: translateZ(-2vmax);
}

[data-digit$='5'] .digit:nth-child(2) :nth-child(3):before,
[data-digit$='5'] .digit:nth-child(2) :nth-child(3):after {
   opacity: 0.3;
   transform: translateZ(-2vmax);
}

[data-digit$='5'] .digit:nth-child(2) :nth-child(5):before,
[data-digit$='5'] .digit:nth-child(2) :nth-child(5):after {
   opacity: 0.3;
   transform: translateZ(-2vmax);
}

[data-digit^='6'] .digit:nth-child(1) :nth-child(3):before,
[data-digit^='6'] .digit:nth-child(1) :nth-child(3):after {
   opacity: 0.3;
   transform: translateZ(-2vmax);
}

[data-digit$='6'] .digit:nth-child(2) :nth-child(3):before,
[data-digit$='6'] .digit:nth-child(2) :nth-child(3):after {
   opacity: 0.3;
   transform: translateZ(-2vmax);
}

[data-digit^='7'] .digit:nth-child(1) :nth-child(1):before,
[data-digit^='7'] .digit:nth-child(1) :nth-child(1):after {
   opacity: 0.3;
   transform: translateZ(-2vmax);
}

[data-digit^='7'] .digit:nth-child(1) :nth-child(4):before,
[data-digit^='7'] .digit:nth-child(1) :nth-child(4):after {
   opacity: 0.3;
   transform: translateZ(-2vmax);
}

[data-digit^='7'] .digit:nth-child(1) :nth-child(5):before,
[data-digit^='7'] .digit:nth-child(1) :nth-child(5):after {
   opacity: 0.3;
   transform: translateZ(-2vmax);
}

[data-digit^='7'] .digit:nth-child(1) :nth-child(6):before,
[data-digit^='7'] .digit:nth-child(1) :nth-child(6):after {
   opacity: 0.3;
   transform: translateZ(-2vmax);
}

[data-digit$='7'] .digit:nth-child(2) :nth-child(1):before,
[data-digit$='7'] .digit:nth-child(2) :nth-child(1):after {
   opacity: 0.3;
   transform: translateZ(-2vmax);
}

[data-digit$='7'] .digit:nth-child(2) :nth-child(4):before,
[data-digit$='7'] .digit:nth-child(2) :nth-child(4):after {
   opacity: 0.3;
   transform: translateZ(-2vmax);
}

[data-digit$='7'] .digit:nth-child(2) :nth-child(5):before,
[data-digit$='7'] .digit:nth-child(2) :nth-child(5):after {
   opacity: 0.3;
   transform: translateZ(-2vmax);
}

[data-digit$='7'] .digit:nth-child(2) :nth-child(6):before,
[data-digit$='7'] .digit:nth-child(2) :nth-child(6):after {
   opacity: 0.3;
   transform: translateZ(-2vmax);
}

[data-digit^='9'] .digit:nth-child(1) :nth-child(5):before,
[data-digit^='9'] .digit:nth-child(1) :nth-child(5):after {
   opacity: 0.3;
   transform: translateZ(-2vmax);
}

[data-digit$='9'] .digit:nth-child(2) :nth-child(5):before,
[data-digit$='9'] .digit:nth-child(2) :nth-child(5):after {
   opacity: 0.3;
   transform: translateZ(-2vmax);
}

.line {
   position: absolute;
   transform-style: preserve-3d;
   perspective: 1000px;
}

.line:before,
.line:after {
   content: '';
   display: block;
   position: absolute;
   color: #fd0b0b;
   background: white;
   transition: all 0.9s cubic-bezier(0.5, 0, 0.5, 1);
   border-radius: 1ch;
   box-shadow: 0 0 1rem #fd0b0b, inset 0 0 0.125vmin #fd0b0b;
}

.line:after {
   transition-timing-function: cubic-bezier(0.4, 0, 0.1, 1);
}

.line:nth-child(2n - 1) {
   height: 50%;
   width: 0.5vmin;
}

.line:nth-child(2n - 1):before,
.line:nth-child(2n - 1):after {
   height: calc(50% - 0.25vmin);
   width: 100%;
}

.line:nth-child(2n - 1):before {
   top: 0.25vmin;
   transform-origin: center top;
}

.line:nth-child(2n - 1):after {
   bottom: 0.25vmin;
   transform-origin: center bottom;
}

.line:nth-child(2n) {
   width: 100%;
   height: 0.5vmin;
}

.line:nth-child(2n):before,
.line:nth-child(2n):after {
   height: 100%;
   width: calc(50% - 0.25vmin);
}

.line:nth-child(2n):before {
   left: 0.25vmin;
   transform-origin: left center;
}

.line:nth-child(2n):after {
   right: 0.25vmin;
   transform-origin: right center;
}

.line:nth-child(1) {
   top: 0;
   left: 0;
}

.line:nth-child(2) {
   top: 0;
   left: 0;
}

.line:nth-child(3) {
   top: 0;
   right: 0;
}

.line:nth-child(4) {
   top: 50%;
   left: 0;
}

.line:nth-child(5) {
   top: 50%;
   left: 0;
}

.line:nth-child(6) {
   bottom: 0;
   left: 0;
}

.line:nth-child(7) {
   top: 50%;
   right: 0;
}

*,
*:before,
*:after {
   box-sizing: border-box;
   position: relative;
}

*:before,
*:after {
   content: '';
   display: block;
}



