html {
   height: 100vh;
   display: flex;
   flex-direction: column;
}
body {
   display: flex;
   justify-content: center;
   align-items: center;

   background: #121212;
   perspective: 1000px;

   min-height: 100vh;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}
